@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>

        <p>
            <i>Date Created:</i>
            @Html.DisplayFor(model => model.Date)
        </p>
        <div class="col-sm-12">
            
            @foreach (var comment in Model.Comments)
            {
                <div class="well well-sm">
                    <comment>
                        <header>
                            <h4>
                                @comment.Name (@comment.Email)
                            </h4>
                        </header>
                        <p>@comment.VisitorComment</p>
                        <i>Commented on: </i>@comment.Date
                    </comment>
                </div>
            }
            @Html.ActionLink("Add comment", "Create", "Comment", new { @id = Model.Id }, null)
            <hr>
        </div>

        <small class="author">
            <i>Created by:</i> @Model.Author.FullName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />
